In [1]:
# importing necessary packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import mpl_toolkits
%matplotlib inline

In [2]:
data=pd.read_csv('ben.csv')
data.head(10)

   Salesprice  Bedrooms Properttype  Latitude  Longitude         Location
0    11000000         3    Bungalow  6.619413   3.510454          Ikorodu
1     6500000         3        Flat  6.613070   3.265907            Ipaja
2     9500000         2    Bungalow  6.613070   3.265907            Ipaja
3     5000000         2    Bungalow  6.508370   3.384247   Lagos Mainland
4    14000000         5    Bungalow  6.619413   3.510454          Ikorodu
5     5000000         4      Duplex  6.508370   3.384247   Lagos Mainland
6    65000000         4       House  6.617909   3.400106           Magodo
7    70000000         5       House  6.474028   3.588799    Lekki Phase 2
8    55000000         4       House  6.426404   3.468852    Lekki Phase 1
9    85000000         5      Duplex  6.426404   3.468852    Lekki Phase 1

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 825 entries, 0 to 824
Data columns (total 6 columns):
Salesprice     825 non-null int64
Bedrooms       825 non-null int64
Properttype    825 non-null object
Latitude       825 non-null float64
Longitude      825 non-null float64
Location       825 non-null object
dtypes: float64(2), int64(2), object(2)
memory usage: 32.3+ KB

In [4]:
data.describe()

         Salesprice    Bedrooms    Latitude   Longitude
count  8.250000e+02  825.000000  825.000000  825.000000
mean   8.758508e+07    3.960000    6.495284    3.474541
std    1.149519e+08    0.769314    0.063451    0.110446
min    3.200000e+05    2.000000    6.426404    3.238251
25%    3.500000e+07    3.000000    6.454812    3.384247
50%    5.500000e+07    4.000000    6.474028    3.468852
75%    9.000000e+07    4.000000    6.517791    3.588799
max    1.000000e+09    9.000000    6.684968    3.804483

In [9]:
incomplete_rows=data[data.isnull().any(axis=1)].head()
incomplete_rows

Empty DataFrame
Columns: [Salesprice, Bedrooms, Properttype, Latitude, Longitude, Location]
Index: []

In [10]:
data.isnull().any()

Salesprice     False
Bedrooms       False
Properttype    False
Latitude       False
Longitude      False
Location       False
dtype: bool

In [13]:
data.describe()

         Salesprice    Bedrooms    Latitude   Longitude
count  8.250000e+02  825.000000  825.000000  825.000000
mean   8.758508e+07    3.960000    6.495284    3.474541
std    1.149519e+08    0.769314    0.063451    0.110446
min    3.200000e+05    2.000000    6.426404    3.238251
25%    3.500000e+07    3.000000    6.454812    3.384247
50%    5.500000e+07    4.000000    6.474028    3.468852
75%    9.000000e+07    4.000000    6.517791    3.588799
max    1.000000e+09    9.000000    6.684968    3.804483

In [19]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()

In [22]:
labels = data['Salesprice']

In [24]:
from sklearn.model_selection import train_test_split

In [26]:
x_train , x_test , y_train , y_test = train_test_split(data , labels , test_size = 0.10,random_state =2)

In [27]:
reg = LinearRegression()
reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [28]:
reg.score(x_test,y_test)

1.0

In [30]:
from sklearn import ensemble
clf = ensemble.GradientBoostingRegressor(n_estimators = 400, max_depth = 5, min_samples_split = 2,
          learning_rate = 0.1, loss = 'ls')

In [31]:
clf.fit(x_train, y_train)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.1, loss='ls', max_depth=5, max_features=None,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=1,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=400, presort='auto', random_state=None,
             subsample=1.0, verbose=0, warm_start=False)

In [32]:
clf.score(x_test,y_test)

0.9992294734294885